# Node
node_modules/
*.log

# Build output
dist/

# Environment
.env
.env.*

# Prisma engine cache
.prisma/

# DO NOT IGNORE prisma js inside dist/
# Only ignore js inside source prisma folder
prisma/*.js
prisma/*.map
